name: Deploy to Cloud Run

on:
  push:
    tags:
      - 'v*.*.*'

env:
  TR_DOCKER_USERNAME: ${{ secrets.TR_DOCKER_USERNAME }}
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_REGION: ${{ secrets.GCP_REGION }}
  DB_INSTANCE: ${{ secrets.DB_INSTANCE }}
  DB_NAME: ${{ secrets.DB_NAME }}
  DB_USER: ${{ secrets.DB_USER }}
  LOKI_URL: ${{ secrets.LOKI_URL }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      #0. Vérification de l'initialisation des variables (debug)
      - name: Debug secrets
        run: |
          if [ -z "${{ secrets.VD_DOCKER_TOKEN }}" ]; then
          echo "VD_DOCKER_TOKEN is empty!"
          else
          echo "VD_DOCKER_TOKEN exists"
          fi

      # 1. Récupération du code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Extraction de la version
      - name: Extract version from tag
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Deploying version: $VERSION"

      # 3. Connexion à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.VD_DOCKER_USERNAME }}
          password: ${{ secrets.VD_DOCKER_TOKEN }}