name: Deploy to Cloud Run

on:
  push:
    tags:
      - 'v*.*.*'

env:
  AG_DOCKER_USERNAME: ${{ secrets.AG_DOCKER_USERNAME }}
  GCP_PROJECT_ID: ${{ secrets.AG_GCP_PROJECT_ID }}
  GCP_REGION: ${{ secrets.GCP_REGION }}
  INSTANCE_NAME: ${{ secrets.INSTANCE_NAME }}
  DB_NAME: ${{ secrets.AG_DB_NAME }}
  LOKI_URL: ${{ secrets.LOKI_URL }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupération du code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Extraction de la version
      - name: Extract version from tag
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Deploying version: $VERSION"

      # 3. Connexion à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.AG_DOCKER_USERNAME }}
          password: ${{ secrets.AG_DOCKER_TOKEN }}

      # 4. Build et push de l'image de l'API
      - name: Build and push API image
        run: |
          docker build -f ./Dockerfile -t ${{ env.AG_DOCKER_USERNAME }}/symfony-crud-api:${{ steps.version.outputs.VERSION }} .
          docker tag ${{ env.AG_DOCKER_USERNAME }}/symfony-crud-api:${{ steps.version.outputs.VERSION }} ${{ env.AG_DOCKER_USERNAME }}/symfony-crud-api:latest
          docker push ${{ env.AG_DOCKER_USERNAME }}/symfony-crud-api:${{ steps.version.outputs.VERSION }}
          docker push ${{ env.AG_DOCKER_USERNAME }}/symfony-crud-api:latest

      # 5. Initialisation de Gcloud Cli
      - name: Initialize Google Cloud CLI
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.AG_GCP_SA_KEY }}

      # 6. Configuration du SDK Google Cloud
      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.AG_GCP_SA_KEY }}
          project_id: ${{ secrets.AG_GCP_PROJECT_ID }}
          export_default_credentials: true

      # 7. Mise en place de PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      # 8. Migration
      - name: Run migration
        run: |
          cd app
          composer install -n
          php bin/console doctrine:database:drop --force --no-interaction
          php bin/console doctrine:database:create --no-interaction
          php bin/console make:migration --no-interaction
          php bin/console doctrine:migration:migrate --no-interaction

      # 8. Mise à jour du fichier de configuration Cloud Run
      - name: Update Cloud Run configuration
        run: |
          sed -i "s/\${VERSION}/${{ steps.version.outputs.VERSION }}/g" cloud-run-service.yaml
          sed -i "s/\${AG_DOCKER_USERNAME}/${{ env.AG_DOCKER_USERNAME }}/g" cloud-run-service.yaml
          sed -i "s/\${AG_GCP_PROJECT_ID}/${{ secrets.AG_GCP_PROJECT_ID }}/g" cloud-run-service.yaml
          sed -i "s/\${GCP_REGION}/${{ env.GCP_REGION }}/g" cloud-run-service.yaml
          sed -i "s/\${INSTANCE_NAME}/${{ env.INSTANCE_NAME }}/g" cloud-run-service.yaml
          sed -i "s/\${DB_NAME}/${{ env.DB_NAME }}/g" cloud-run-service.yaml
          sed -i "s|\${LOKI_URL}|${{ env.LOKI_URL }}|g" cloud-run-service.yaml

      # 9. Déploiement sur Cloud Run
      - name: Deploy to Cloud Run
        run: |
          gcloud run services replace cloud-run-service.yaml \
            --region=${{ env.GCP_REGION }}
          
          # Configure les permissions pour autoriser les invocations non authentifiées
          gcloud run services add-iam-policy-binding symfony-crud-api \
            --region=${{ env.GCP_REGION }} \
            --member="allUsers" \
            --role="roles/run.invoker"

      - name: Get service URL
        run: |
          SERVICE_URL=$(gcloud run services describe symfony-crud-api \
            --region=${{ env.GCP_REGION }} \
            --format='value(status.url)')
          echo "Service deployed at: $SERVICE_URL"